# Gradle & Avro
.project
.settings
.classpath
.gradle
.idea
*.iml
*.iws
*.ipr

# Pegasus & Avro
**/src/mainGenerated*
**/src/testGenerated*

# Java
.java-version

# Python
.venv
venv/
env.bak/
venv.bak/
.mypy_cache/
.dmypy.json
dmypy.json
MANIFEST

**/build
/config
*/i18n
/out

# Mac OS
**/.DS_Store
